docs/n8n-workflows/get-shipment.json
{
  "name": "CargoFlow - Get Shipment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "shipment/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "get-shipment"
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json.params;\nconst shipmentId = parseInt(params.id);\n\nif (!shipmentId || isNaN(shipmentId)) {\n  throw new Error('Invalid shipment ID');\n}\n\nreturn { shipmentId };"
      },
      "id": "parse-params",
      "name": "Parse Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM demo_shipments WHERE id = {{ $json.shipmentId }} LIMIT 1;",
        "options": {}
      },
      "id": "get-shipment",
      "name": "Get Shipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT action_type, details, success, error_msg, created_at FROM automation_logs WHERE shipment_id = {{ $('Parse Params').first().json.shipmentId }} ORDER BY created_at DESC LIMIT 50;",
        "options": {}
      },
      "id": "get-logs",
      "name": "Get Logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shipment = $('Get Shipment').first().json;\nconst logs = $input.all().map(item => item.json);\n\nif (!shipment || !shipment.id) {\n  return {\n    success: false,\n    error: 'Shipment not found'\n  };\n}\n\n// 格式化 shipment 数据\nconst formattedShipment = {\n  id: shipment.id,\n  tokenCode: shipment.token_code,\n  fromAddress: shipment.from_address,\n  toAddress: shipment.to_address,\n  weight: parseFloat(shipment.weight),\n  parcelDetails: shipment.parcel_details,\n  status: shipment.status,\n  quoteAmount: shipment.quote_amount ? parseFloat(shipment.quote_amount) : null,\n  trackingNumber: shipment.tracking_number,\n  trackingStatus: shipment.tracking_status,\n  trackingUrl: shipment.tracking_url,\n  labelUrl: shipment.label_url,\n  carrier: shipment.carrier,\n  serviceName: shipment.service_name,\n  estimatedDays: shipment.estimated_days,\n  shippoObjectId: shipment.shippo_object_id,\n  shippoRateId: shipment.shippo_rate_id,\n  shippoRates: shipment.shippo_rates,\n  stripePaymentId: shipment.stripe_payment_id,\n  paidAt: shipment.paid_at,\n  createdAt: shipment.created_at,\n  updatedAt: shipment.updated_at\n};\n\n// 格式化 logs\nconst formattedLogs = logs.map(log => ({\n  actionType: log.action_type,\n  details: log.details,\n  success: log.success,\n  errorMsg: log.error_msg,\n  createdAt: log.created_at\n}));\n\nreturn {\n  success: true,\n  shipment: formattedShipment,\n  logs: formattedLogs\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Params": {
      "main": [
        [
          {
            "node": "Get Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipment": {
      "main": [
        [
          {
            "node": "Get Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logs": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-04T08:30:00.000Z",
  "versionId": "1"
}