docs/n8n-workflows/purchase-label.json
{
  "name": "CargoFlow - Purchase Label",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purchase-label",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "purchase-label"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst shipmentId = body.shipmentId;\nconst rateId = body.rateId || body.shippoRateId;\n\nif (!shipmentId || !rateId) {\n  throw new Error('缺少必要参数: shipmentId 和 rateId');\n}\n\nreturn { shipmentId, rateId };"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, shippo_object_id, shippo_rate_id, status, sender_email, sender_name, sender_phone, from_address, to_address FROM demo_shipments WHERE id = {{ $json.shipmentId }} LIMIT 1;",
        "options": {}
      },
      "id": "get-shipment",
      "name": "Get Shipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shipment = $input.first().json;\nconst input = $('Validate Input').first().json;\n\nif (!shipment || !shipment.shippo_object_id) {\n  throw new Error('订单不存在或未生成报价');\n}\n\nif (shipment.status !== 'draft' && shipment.status !== 'pending_payment') {\n  throw new Error('订单状态不允许购买 label，当前状态: ' + shipment.status);\n}\n\nreturn {\n  shipmentId: shipment.id,\n  shippoObjectId: shipment.shippo_object_id,\n  rateId: input.rateId || shipment.shippo_rate_id\n};"
      },
      "id": "validate-shipment",
      "name": "Validate Shipment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.goshippo.com/transactions/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ rate: $json.rateId, label_file_type: 'PDF', async: false, metadata: 'shipment_' + $json.shipmentId }) }}",
        "options": {}
      },
      "id": "shippo-purchase-label",
      "name": "Shippo - Purchase Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "shippo-token-credentials",
          "name": "Shippo Test Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transaction = $input.first().json;\nconst prev = $('Validate Shipment').first().json;\n\nif (transaction.status !== 'SUCCESS') {\n  throw new Error('购买 label 失败: ' + JSON.stringify(transaction.messages));\n}\n\nconst trackingNumber = transaction.tracking_number;\nconst labelUrl = transaction.label_url;\nconst trackingUrl = transaction.tracking_url_provider;\n\nreturn {\n  shipmentId: prev.shipmentId,\n  trackingNumber,\n  labelUrl,\n  trackingUrl,\n  transactionId: transaction.object_id,\n  carrier: transaction.rate?.provider || 'Unknown',\n  serviceName: transaction.rate?.servicelevel?.name || '',\n  amount: parseFloat(transaction.rate?.amount || 0)\n};"
      },
      "id": "parse-transaction",
      "name": "Parse Transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE demo_shipments SET status = 'label_purchased', tracking_number = '{{ $json.trackingNumber }}', label_url = '{{ $json.labelUrl }}', tracking_url = '{{ $json.trackingUrl }}', updated_at = NOW() WHERE id = {{ $json.shipmentId }} RETURNING *;",
        "options": {}
      },
      "id": "update-shipment",
      "name": "Update Shipment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automation_logs (shipment_id, action_type, details, created_at) VALUES ({{ $json.id }}, 'label_purchased', '{\"tracking_number\": \"{{ $('Parse Transaction').first().json.trackingNumber }}\", \"carrier\": \"{{ $('Parse Transaction').first().json.carrier }}\"}'::jsonb, NOW());",
        "options": {}
      },
      "id": "log-action",
      "name": "Log Action",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shipment = $('Update Shipment').first().json;\nconst transaction = $('Parse Transaction').first().json;\nconst origShipment = $('Get Shipment').first().json;\n\nreturn {\n  contactEmail: origShipment.sender_email || shipment.sender_email || `demo_${shipment.id}@cargoflow.test`,\n  contactName: origShipment.sender_name || shipment.sender_name || `Customer #${shipment.id}`,\n  contactPhone: origShipment.sender_phone || shipment.sender_phone || '',\n  orderShipmentId: shipment.id,\n  orderAmount: shipment.quote_amount || 0,\n  orderRoute: `${shipment.from_address || origShipment.from_address} → ${shipment.to_address || origShipment.to_address}`,\n  orderCarrier: `${shipment.carrier || ''} ${shipment.service_name || ''}`.trim() || 'Unknown',\n  orderDate: new Date().toISOString().split('T')[0],\n  trackingNumber: transaction.trackingNumber || shipment.tracking_number\n};"
      },
      "id": "build-airtable-data",
      "name": "Build Airtable Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.contactEmail }}",
            "Name": "={{ $json.contactName }}",
            "Phone": "={{ $json.contactPhone }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "airtable-add-contact",
      "name": "Airtable - Add Contact",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Shipment ID": "={{ $('Build Airtable Data').first().json.orderShipmentId }}",
            "Amount": "={{ $('Build Airtable Data').first().json.orderAmount }}",
            "Route": "={{ $('Build Airtable Data').first().json.orderRoute }}",
            "Carrier": "={{ $('Build Airtable Data').first().json.orderCarrier }}",
            "Date": "={{ $('Build Airtable Data').first().json.orderDate }}",
            "Customer Email": "={{ $('Build Airtable Data').first().json.contactEmail }}",
            "Tracking Number": "={{ $('Build Airtable Data').first().json.trackingNumber }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "airtable-add-order",
      "name": "Airtable - Add Order",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automation_logs (shipment_id, action_type, details, success, created_at) VALUES ({{ $('Build Airtable Data').first().json.orderShipmentId }}, 'airtable_synced', '{\"contact_email\": \"{{ $('Build Airtable Data').first().json.contactEmail }}\", \"order_amount\": {{ $('Build Airtable Data').first().json.orderAmount }}}'::jsonb, true, NOW());",
        "options": {}
      },
      "id": "log-airtable",
      "name": "Log Airtable",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shipment = $('Update Shipment').first().json;\nconst transaction = $('Parse Transaction').first().json;\nconst origShipment = $('Get Shipment').first().json;\nconst nameParts = (origShipment.sender_name || shipment.sender_name || 'CargoFlow Customer').trim().split(' ');\n\nreturn {\n  firstName: nameParts[0] || 'CargoFlow',\n  lastName: nameParts.slice(1).join(' ') || 'Customer',\n  email: origShipment.sender_email || shipment.sender_email || '',\n  phone: origShipment.sender_phone || shipment.sender_phone || '',\n  shipmentId: shipment.id,\n  carrier: transaction.carrier || shipment.carrier || 'Unknown',\n  serviceName: transaction.serviceName || shipment.service_name || '',\n  amount: shipment.quote_amount || 0,\n  trackingNumber: transaction.trackingNumber || shipment.tracking_number || '',\n  fromAddress: origShipment.from_address || shipment.from_address || '',\n  toAddress: origShipment.to_address || shipment.to_address || '',\n  orderDate: new Date().toISOString().split('T')[0]\n};"
      },
      "id": "ghl-build-contact",
      "name": "GHL - Build Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ firstName: $json.firstName, lastName: $json.lastName, email: $json.email, phone: $json.phone, locationId: $env.GHL_LOCATION_ID, tags: ['cargoflow-customer', 'label-purchased'], source: 'CargoFlow' }) }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "ghl-create-contact",
      "name": "GHL - Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ghl-api-credentials",
          "name": "GHL API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ghlResponse = $input.first().json;\nconst buildData = $('GHL - Build Contact Data').first().json;\n\n// GHL returns contact object on create; on duplicate it may return 400 with existing contact id\nlet contactId = ghlResponse.contact?.id || ghlResponse.id || null;\n\nreturn {\n  contactId,\n  shipmentId: buildData.shipmentId,\n  carrier: buildData.carrier,\n  serviceName: buildData.serviceName,\n  amount: buildData.amount,\n  trackingNumber: buildData.trackingNumber,\n  fromAddress: buildData.fromAddress,\n  toAddress: buildData.toAddress,\n  orderDate: buildData.orderDate\n};"
      },
      "id": "ghl-build-note",
      "name": "GHL - Build Note Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ body: 'Shipment #' + $json.shipmentId + ' | ' + $json.fromAddress + ' → ' + $json.toAddress + ' | ' + $json.carrier + ' ' + $json.serviceName + ' | $' + $json.amount + ' | Tracking: ' + $json.trackingNumber + ' | Date: ' + $json.orderDate }) }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "ghl-add-note",
      "name": "GHL - Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ghl-api-credentials",
          "name": "GHL API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automation_logs (shipment_id, action_type, details, success, created_at) VALUES ({{ $('GHL - Build Contact Data').first().json.shipmentId }}, 'ghl_synced', '{\"contact_id\": \"{{ $('GHL - Build Note Data').first().json.contactId }}\", \"email\": \"{{ $('GHL - Build Contact Data').first().json.email }}\"}'::jsonb, true, NOW());",
        "options": {}
      },
      "id": "log-ghl",
      "name": "Log GHL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3760,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shipment = $('Update Shipment').first().json;\nconst transaction = $('Parse Transaction').first().json;\n\nreturn {\n  success: true,\n  shipmentId: shipment.id,\n  status: shipment.status,\n  trackingNumber: transaction.trackingNumber,\n  labelUrl: transaction.labelUrl,\n  trackingUrl: transaction.trackingUrl,\n  carrier: transaction.carrier,\n  serviceName: transaction.serviceName,\n  message: `Label purchased successfully. Tracking: ${transaction.trackingNumber}`\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3980,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipment": {
      "main": [
        [
          {
            "node": "Validate Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Shipment": {
      "main": [
        [
          {
            "node": "Shippo - Purchase Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shippo - Purchase Label": {
      "main": [
        [
          {
            "node": "Parse Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transaction": {
      "main": [
        [
          {
            "node": "Update Shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Shipment": {
      "main": [
        [
          {
            "node": "Log Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Action": {
      "main": [
        [
          {
            "node": "Build Airtable Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Airtable Data": {
      "main": [
        [
          {
            "node": "Airtable - Add Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Add Contact": {
      "main": [
        [
          {
            "node": "Airtable - Add Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Add Order": {
      "main": [
        [
          {
            "node": "Log Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Airtable": {
      "main": [
        [
          {
            "node": "GHL - Build Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Build Contact Data": {
      "main": [
        [
          {
            "node": "GHL - Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Create Contact": {
      "main": [
        [
          {
            "node": "GHL - Build Note Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Build Note Data": {
      "main": [
        [
          {
            "node": "GHL - Add Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Add Note": {
      "main": [
        [
          {
            "node": "Log GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log GHL": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-04T08:30:00.000Z",
  "versionId": "1"
}