docs/n8n-workflows/quote-generation-stage1.json
{
  "name": "CargoFlow - Quote Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "generate-quote"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst fromAddress = body.fromAddress || 'New York, NY';\nconst toAddress = body.toAddress || 'Los Angeles, CA';\nconst weight = Math.min(parseFloat(body.weight) || 5, 70);\nconst dimensions = body.dimensions || { length: '10', width: '10', height: '10' };\nconst senderName = body.senderName || 'CargoFlow Sender';\nconst senderPhone = body.senderPhone || '';\nconst senderEmail = body.senderEmail || '';\n\nif (!senderPhone || !senderEmail) {\n  throw new Error('发件人联系方式缺失：USPS 要求同时提供手机号和邮箱');\n}\n\nconst ADDRESS_MAP = {\n  'new york':    { street1: '1 World Trade Center', city: 'New York',      state: 'NY', zip: '10007' },\n  'ny':          { street1: '1 World Trade Center', city: 'New York',      state: 'NY', zip: '10007' },\n  'los angeles': { street1: '200 N Spring St',      city: 'Los Angeles',   state: 'CA', zip: '90012' },\n  'la':          { street1: '200 N Spring St',      city: 'Los Angeles',   state: 'CA', zip: '90012' },\n  'chicago':     { street1: '121 N LaSalle St',     city: 'Chicago',       state: 'IL', zip: '60602' },\n  'houston':     { street1: '901 Bagby St',         city: 'Houston',       state: 'TX', zip: '77002' },\n  'phoenix':     { street1: '200 W Washington St',  city: 'Phoenix',       state: 'AZ', zip: '85003' },\n  'san francisco': { street1: '1 Dr Carlton B Goodlett Pl', city: 'San Francisco', state: 'CA', zip: '94102' },\n  'sf':          { street1: '1 Dr Carlton B Goodlett Pl', city: 'San Francisco', state: 'CA', zip: '94102' },\n  'seattle':     { street1: '600 4th Ave',          city: 'Seattle',       state: 'WA', zip: '98104' },\n  'miami':       { street1: '400 NW 2nd Ave',       city: 'Miami',         state: 'FL', zip: '33128' },\n  'dallas':      { street1: '1500 Marilla St',      city: 'Dallas',        state: 'TX', zip: '75201' },\n  'boston':      { street1: '1 City Hall Square',   city: 'Boston',        state: 'MA', zip: '02201' },\n};\n\nfunction resolveAddress(input) {\n  const key = input.toLowerCase().replace(/,.*$/, '').trim();\n  return ADDRESS_MAP[key] || ADDRESS_MAP['new york'];\n}\n\nconst from = resolveAddress(fromAddress);\nconst to = resolveAddress(toAddress);\n\nconst addressFrom = { name: senderName, phone: senderPhone, email: senderEmail, ...from, country: 'US' };\n\nreturn {\n  shippoPayload: {\n    address_from: addressFrom,\n    address_to:   { name: 'CargoFlow Recipient', ...to, country: 'US' },\n    parcels: [{\n      length: String(dimensions.length || '10'),\n      width:  String(dimensions.width  || '10'),\n      height: String(dimensions.height || '10'),\n      distance_unit: 'in',\n      weight: String(weight),\n      mass_unit: 'lb'\n    }],\n    async: false\n  },\n  fromAddress,\n  toAddress,\n  weight,\n  senderName,\n  senderPhone,\n  senderEmail\n};"
      },
      "id": "prepare-shippo-request",
      "name": "Prepare Shippo Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.goshippo.com/shipments/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.shippoPayload) }}",
        "options": {}
      },
      "id": "shippo-create-shipment",
      "name": "Shippo - Create Shipment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "shippo-token-credentials",
          "name": "Shippo Test Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shippo = $input.first().json;\nconst prev = $('Prepare Shippo Request').first().json;\n\nconst fromAddress = prev.fromAddress;\nconst toAddress = prev.toAddress;\nconst weight = prev.weight;\nconst senderName = prev.senderName;\nconst senderPhone = prev.senderPhone;\nconst senderEmail = prev.senderEmail;\n\nif (!shippo.object_id) {\n  throw new Error('Shippo API 返回异常: ' + JSON.stringify(shippo));\n}\n\nconst rates = (shippo.rates || []).sort((a, b) => parseFloat(a.amount) - parseFloat(b.amount));\nconst bestRate = rates[0];\n\nif (!bestRate) {\n  throw new Error('Shippo 未返回任何费率，请检查地址是否有效');\n}\n\nreturn {\n  fromAddress,\n  toAddress,\n  weight,\n  senderName,\n  senderPhone,\n  senderEmail,\n  quoteAmount: parseFloat(bestRate.amount),\n  shippoObjectId: shippo.object_id,\n  shippoRateId: bestRate.object_id,\n  carrier: bestRate.provider,\n  serviceName: bestRate.servicelevel?.name || bestRate.servicelevel_name || '',\n  estimatedDays: bestRate.estimated_days,\n  allRates: rates.slice(0, 5).map(r => ({\n    rateId: r.object_id,\n    carrier: r.provider,\n    service: r.servicelevel?.name || '',\n    amount: parseFloat(r.amount),\n    currency: r.currency,\n    estimatedDays: r.estimated_days\n  })),\n  status: 'draft'\n};"
      },
      "id": "parse-shippo-rates",
      "name": "Parse Shippo Rates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'You are a logistics expert. Based on the following shipping options, recommend the best carrier considering price, delivery time, and reliability. Reply concisely in English (under 50 words).\\n\\nAvailable options:\\n' + JSON.stringify($json.allRates) }}"
      },
      "id": "ai-recommendation",
      "name": "AI Carrier Recommendation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "qwen/qwen-2.5-72b-instruct",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Qwen",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1120, 480],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-credentials",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst ratesData = $('Parse Shippo Rates').first().json;\n\n// Basic LLM Chain outputs { output: '...' }\nlet aiRecommendation = '';\ntry {\n  aiRecommendation = (aiResponse.output || aiResponse.text || '').trim();\n} catch (e) {\n  aiRecommendation = '推荐选择价格最优且时效较快的承运商';\n}\n\nif (!aiRecommendation) {\n  aiRecommendation = '推荐选择价格最优且时效较快的承运商';\n}\n\nreturn {\n  ...ratesData,\n  aiRecommendation\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO demo_shipments (from_address, to_address, weight, status, quote_amount, shippo_object_id, shippo_rate_id, shippo_rates, sender_name, sender_phone, sender_email, carrier, service_name, estimated_days, ai_recommendation, created_at, updated_at)\nVALUES ('{{ $json.fromAddress }}', '{{ $json.toAddress }}', {{ $json.weight }}, 'draft', {{ $json.quoteAmount }}, '{{ $json.shippoObjectId }}', '{{ $json.shippoRateId }}', '{{ JSON.stringify($json.allRates) }}'::jsonb, '{{ $json.senderName }}', '{{ $json.senderPhone }}', '{{ $json.senderEmail }}', '{{ $json.carrier }}', '{{ $json.serviceName }}', {{ $json.estimatedDays }}, '{{ $json.aiRecommendation }}', NOW(), NOW())\nRETURNING *;",
        "options": {}
      },
      "id": "postgres-insert",
      "name": "PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbResult = $input.first().json;\nconst rates = $('Parse AI Response').first().json;\n\nreturn {\n  success: true,\n  shipmentId: dbResult.id,\n  quoteAmount: parseFloat(dbResult.quote_amount),\n  fromAddress: dbResult.from_address,\n  toAddress: dbResult.to_address,\n  weight: parseFloat(dbResult.weight),\n  status: dbResult.status,\n  shippoObjectId: dbResult.shippo_object_id,\n  carrier: rates.carrier,\n  serviceName: rates.serviceName,\n  estimatedDays: rates.estimatedDays,\n  allRates: rates.allRates,\n  aiRecommendation: dbResult.ai_recommendation || rates.aiRecommendation || '',\n  message: `报价已生成：${rates.carrier} ${rates.serviceName}，$${rates.quoteAmount}，预计 ${rates.estimatedDays} 天`,\n  createdAt: dbResult.created_at\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Shippo Request", "type": "main", "index": 0 }]]
    },
    "Prepare Shippo Request": {
      "main": [[{ "node": "Shippo - Create Shipment", "type": "main", "index": 0 }]]
    },
    "Shippo - Create Shipment": {
      "main": [[{ "node": "Parse Shippo Rates", "type": "main", "index": 0 }]]
    },
    "Parse Shippo Rates": {
      "main": [[{ "node": "AI Carrier Recommendation", "type": "main", "index": 0 }]]
    },
    "OpenRouter Qwen": {
      "ai_languageModel": [[{ "node": "AI Carrier Recommendation", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Carrier Recommendation": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "PostgreSQL", "type": "main", "index": 0 }]]
    },
    "PostgreSQL": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-12T00:00:00.000Z",
  "versionId": "3"
}
